$text: #d9d9d9;
$background: #27282b;
$hover: #3C3D46;
$tab-text: #a5a5a5;
$tab-hover: #4f4e5a;
$active-background: #6e737c;
$active-text: #000000;
$border-color: #45454e;
$video-sidewall-color: #1c1c1e;

@media (prefers-color-scheme: dark) {

    *, a, hr {
        color: $text;
        border-color: $border-color;
    }

    path {
        fill: $text;
    }

    html,
    body,
    #projects-list {
        background-color: $background;
    }

    .hover {
        background-color: $hover;
    }

    .tab {
        color: $tab-text;
    }

    .tab.hover {
        color: $text;
    }

    .tabs {
        background-color: $background;
    }

    .is-active {
        color: $active-text;
        background-color: $active-background;
    }

    .tab.hover.is-active {
        color: $active-text;
    }

    .sidewall {
        background-color: $video-sidewall-color;
    }
}