$text: #d9d9d9;
$background: #27282b;
$hover: #3C3D46;
$tab-hover: #4f4e5a;
$active-background: #797a82;
$active-text: #000000;
$border-color: #45454e;

@media (prefers-color-scheme: dark) {

    *, a, hr {
        color: $text;
        border-color: $border-color;
    }

    path {
        fill: $text;
    }

    html,
    body,
    #projects-list {
        background-color: $background;
    }

    .hover {
        background-color: $hover;
    }

    .tabs {
        background-color: $background;
    }

    .is-active {
        color: $active-text;
        background-color: $active-background;
    }
}