$text: #363636;
$background: #e6e6e6;
$hover: #dbdbdb;
$tab-hover: #363636;
$active-background: #c7c7c7;
$active-text: #ffffff;
$border-color: #000000;

@media (prefers-color-scheme: light) {

    *, a {
        color: $text;
        border-color: $border-color;
    }

    html,
    body,
    #projects-list {
        background-color: $background;
    }

    .hover {
        background-color: $hover;
    }

    .tabs {
        background-color: $background;
    }

    .is-active {
        color: $active-text;
        background-color: $active-background;
    }
}