* {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
}

html, body {
  height: 100%;
  overflow-y: hidden;
  background-color: #e6e6e6;
}

:root {
  font-family: Courier, monospace, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;

  color: #363636;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  color: white;
  background-color: black;
}

body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

a {
  color: #363636;
  text-decoration-line: none;
}

.main-box {
  padding: 1rem;
}

#left {
  min-width: 24rem;
  width: 33%;
  border-right: 0.1rem solid #000;

  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding-left: 0;
  padding-right: 0;
  z-index: 1;
}

#right {
  overflow-y: auto;
}

#content {
  transition: opacity 0.5s ease;
  opacity: 1;
}

#content img {
  width: 100%;
}

#content .project {
  padding-bottom: 3rem;
}

#left .floating-box {
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  /* border-bottom: 0.1rem solid #000; */
  z-index: 2;
}

.home-button {
  cursor: pointer;
}

.heading {
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  font-weight: bold;

  border-bottom: 0.1rem solid #000;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

#projects-list {
  height: 100%;
  overflow-y: auto;
  z-index: 10;
  background-color: #e6e6e6;
  border-top: 0.1rem solid black;
}

.projects-heading {
  padding-top: 0.5rem;
}

#projects-list ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;

  /* border-bottom: 0.1rem solid #000; */
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;

  list-style-type: none;
  cursor: pointer;
}

#projects-list hr {
  border: 0;
  border-top: 0.1rem solid #000;
  margin-left: 1rem;
  margin-right: 1rem;
}

.hover {
  background-color: #dbdbdb;
}

#projects-list ul li {
  padding-right: 1rem;
}

#projects-list ul li:nth-child(1) {
  width: 60%;  
  padding-left: 1rem;
}

#projects-list ul li:nth-child(2) {
  width: 30%;
}

#projects-list ul li:nth-child(3) {
  width: 10%;
  text-align: right;
  overflow-wrap: normal;
}

h4 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

p {
  padding-bottom: 1rem;
}

.pfp {
  max-width: 6rem;
  border-radius: 100%;
}

/* dark theme*/
/* :root {
  color-scheme: dark;
  color: #a8a8a8;
  background-color: #242424;
}

#left {
  color-scheme: dark;
  border-color: #575757;
}
.heading {
  color-scheme: dark;
  border-bottom: 0.1rem solid #575757;
} */